*, *::before, *::after {
  box-sizing: border-box;
}

html {
    num_octaves = 5
    num_notes_in_octave = 12
}

body {
    background-color: #612718;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.piano {
    display: flex;
    margin: 0px auto;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 2.8vw;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 2vw;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

.output {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.output_img {
    bottom: 10vh;
    position:fixed;
}

.download_media {
    display: flex;
    align-items: center;
    bottom: 5vh;
    position:fixed;
    justify-content: space-between;
    column-gap: 20px;
}
