<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/piano.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
        const notesArr = {{ json_notes|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/timer.js') }}" defer></script>
    <script src= "{{ url_for('static',filename='js/piano.js') }}" defer></script>
    <title>Piano</title>
</head>
<body>
    <div id="wrapper">
        <div class="piano" id="piano">
            <!--
            construct the piano keys based on the list of keys provided
            -->
            {% for key in keys %}
                {% if "#" in key %}
                    <div id="{{ key }}" class="key black">
                {% else %}
                    <div id="{{ key }}" class="key white">
                {% endif %}
                <div class="key-name">{{ key }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <audio id="audio_file" src="{{ url_for('static', filename='output/{}.wav'.format(file_name)) }}" preload="auto"></audio>
    <div id="controls-container" class="controls-container">
        <div id="controls" class="controls">
            <button type="button" id="play_button" class="play_button">Play</button>
            <button type="button" id="stop_button" class="stop_button">Pause</button>
            <button type="button" id="reset_button" class="reset_button">Reset</button>
        </div>
    </div>

    <div id="output" class="output">
        <div id="output_img" class="output_img">
            <img src="{{ url_for('static',filename='output/{}_predictions.png'.format(file_name) ) }}">
        </div>

        <div id="download_media" class="download_media">
            <button type="button" id="download_audio" class="download_audio" onClick="window.location.href='{{ url_for('views.download_audio', file_name=file_name)}}';">
                Download audio file
            </button>
            <button type="button" id="download_img" class="download_img" onClick="window.location.href='{{ url_for('views.download_image', file_name=file_name)}}';">
                Download image
            </button>
        </div>
    </div>
</body>
</html>