<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/piano.css') }}">
  <script src= "{{ url_for('static',filename='js/piano.js') }}" defer></script>
  <title>Piano</title>
</head>
<body>
  <div id="wrapper">
    <div class="piano" id="piano">
      <div data-note="C2" class="key white"></div>
      <div data-note="C#2" class="key black"></div>
      <div data-note="D2" class="key white"></div>
      <div data-note="D#2" class="key black"></div>
      <div data-note="E2" class="key white"></div>
      <div data-note="F2" class="key white"></div>
      <div data-note="F#2" class="key black"></div>
      <div data-note="G2" class="key white"></div>
      <div data-note="G#2" class="key black"></div>
      <div data-note="A2" class="key white"></div>
      <div data-note="A#2" class="key black"></div>
      <div data-note="B2" class="key white"></div>

      <div data-note="C3" class="key white"></div>
      <div data-note="C#3" class="key black"></div>
      <div data-note="D3" class="key white"></div>
      <div data-note="D#3" class="key black"></div>
      <div data-note="E3" class="key white"></div>
      <div data-note="F3" class="key white"></div>
      <div data-note="F#3" class="key black"></div>
      <div data-note="G3" class="key white"></div>
      <div data-note="G#3" class="key black"></div>
      <div data-note="A3" class="key white"></div>
      <div data-note="A#3" class="key black"></div>
      <div data-note="B3" class="key white"></div>

      <div data-note="C4" class="key white"></div>
      <div data-note="C#4" class="key black"></div>
      <div data-note="D4" class="key white"></div>
      <div data-note="D#4" class="key black"></div>
      <div data-note="E4" class="key white"></div>
      <div data-note="F4" class="key white"></div>
      <div data-note="F#4" class="key black"></div>
      <div data-note="G4" class="key white"></div>
      <div data-note="G#4" class="key black"></div>
      <div data-note="A4" class="key white"></div>
      <div data-note="A#4" class="key black"></div>
      <div data-note="B4" class="key white"></div>

      <div data-note="C5" class="key white"></div>
      <div data-note="C#5" class="key black"></div>
      <div data-note="D5" class="key white"></div>
      <div data-note="D#5" class="key black"></div>
      <div data-note="E5" class="key white"></div>
      <div data-note="F5" class="key white"></div>
      <div data-note="F#5" class="key black"></div>
      <div data-note="G5" class="key white"></div>
      <div data-note="G#5" class="key black"></div>
      <div data-note="A5" class="key white"></div>
      <div data-note="A#5" class="key black"></div>
      <div data-note="B5" class="key white"></div>

      <div data-note="C6" class="key white"></div>
      <div data-note="C#6" class="key black"></div>
      <div data-note="D6" class="key white"></div>
      <div data-note="D#6" class="key black"></div>
      <div data-note="E6" class="key white"></div>
      <div data-note="F6" class="key white"></div>
      <div data-note="F#6" class="key black"></div>
      <div data-note="G6" class="key white"></div>
      <div data-note="G#6" class="key black"></div>
      <div data-note="A6" class="key white"></div>
      <div data-note="A#6" class="key black"></div>
      <div data-note="B6" class="key white"></div>
    </div>
    <div id="output" class="output">
      <img src="{{ url_for('static',filename='output/{}'.format(file_name) ) }}">
    </div>
  </div>

</body>
</html>