<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/piano.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
        const notesArr = {{ json_notes|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/timer.js') }}" defer></script>
    <script src= "{{ url_for('static',filename='js/piano.js') }}" defer></script>
    <title>Piano</title>
</head>
<body>
    <div id="wrapper">
        <div class="piano" id="piano">
            <div id="C2" class="key white">
                <div class="key-name">C2</div>
            </div>
            <div id="C#2" class="key black">
                <div class="key-name">C#2</div>
            </div>
            <div id="D2" class="key white">
                <div class="key-name">D2</div>
            </div>
            <div id="D#2" class="key black">
                <div class="key-name">D#2</div>
            </div>
            <div id="E2" class="key white">
                <div class="key-name">E2</div>
            </div>
            <div id="F2" class="key white">
                <div class="key-name">F2</div>
            </div>
            <div id="F#2" class="key black">
                <div class="key-name">F#2</div>
            </div>
            <div id="G2" class="key white">
                <div class="key-name">G2</div>
            </div>
            <div id="G#2" class="key black">
                <div class="key-name">G#2</div>
            </div>
            <div id="A2" class="key white">
                <div class="key-name">A2</div>
            </div>
            <div id="A#2" class="key black">
                <div class="key-name">A#2</div>
            </div>
            <div id="B2" class="key white">
                <div class="key-name">B2</div>
            </div>

            <div id="C3" class="key white">
                <div class="key-name">C3</div>
            </div>
            <div id="C#3" class="key black">
                <div class="key-name">C#3</div>
            </div>
            <div id="D3" class="key white">
                <div class="key-name">D3</div>
            </div>
            <div id="D#3" class="key black">
                <div class="key-name">D#3</div>
            </div>
            <div id="E3" class="key white">
                <div class="key-name">E3</div>
            </div>
            <div id="F3" class="key white">
                <div class="key-name">F3</div>
            </div>
            <div id="F#3" class="key black">
                <div class="key-name">F#3</div>
            </div>
            <div id="G3" class="key white">
                <div class="key-name">G3</div>
            </div>
            <div id="G#3" class="key black">
                <div class="key-name">G#3</div>
            </div>
            <div id="A3" class="key white">
                <div class="key-name">A3</div>
            </div>
            <div id="A#3" class="key black">
                <div class="key-name">A#3</div>
            </div>
            <div id="B3" class="key white">
                <div class="key-name">B3</div>
            </div>

            <div id="C4" class="key white">
                <div class="key-name">C4</div>
            </div>
            <div id="C#4" class="key black">
                <div class="key-name">C#4</div>
            </div>
            <div id="D4" class="key white">
                <div class="key-name">D4</div>
            </div>
            <div id="D#4" class="key black">
                <div class="key-name">D#4</div>
            </div>
            <div id="E4" class="key white">
                <div class="key-name">E4</div>
            </div>
            <div id="F4" class="key white">
                <div class="key-name">F4</div>
            </div>
            <div id="F#4" class="key black">
                <div class="key-name">F#4</div>
            </div>
            <div id="G4" class="key white">
                <div class="key-name">G4</div>
            </div>
            <div id="G#4" class="key black">
                <div class="key-name">G#4</div>
            </div>
            <div id="A4" class="key white">
                <div class="key-name">A4</div>
            </div>
            <div id="A#4" class="key black">
                <div class="key-name">A#4</div>
            </div>
            <div id="B4" class="key white">
                <div class="key-name">B4</div>
            </div>

            <div id="C5" class="key white">
                <div class="key-name">C5</div>
            </div>
            <div id="C#5" class="key black">
                <div class="key-name">C#5</div>
            </div>
            <div id="D5" class="key white">
                <div class="key-name">D5</div>
            </div>
            <div id="D#5" class="key black">
                <div class="key-name">D#5</div>
            </div>
            <div id="E5" class="key white">
                <div class="key-name">E5</div>
            </div>
            <div id="F5" class="key white">
                <div class="key-name">F5</div>
            </div>
            <div id="F#5" class="key black">
                <div class="key-name">F#5</div>
            </div>
            <div id="G5" class="key white">
                <div class="key-name">G5</div>
            </div>
            <div id="G#5" class="key black">
                <div class="key-name">G#5</div>
            </div>
            <div id="A5" class="key white">
                <div class="key-name">A5</div>
            </div>
            <div id="A#5" class="key black">
                <div class="key-name">A#5</div>
            </div>
            <div id="B5" class="key white">
                <div class="key-name">B5</div>
            </div>

            <div id="C6" class="key white">
                <div class="key-name">C6</div>
            </div>
            <div id="C#6" class="key black">
                <div class="key-name">C#6</div>
            </div>
            <div id="D6" class="key white">
                <div class="key-name">D6</div>
            </div>
            <div id="D#6" class="key black">
                <div class="key-name">D#6</div>
            </div>
            <div id="E6" class="key white">
                <div class="key-name">E6</div>
            </div>
            <div id="F6" class="key white">
                <div class="key-name">F6</div>
            </div>
            <div id="F#6" class="key black">
                <div class="key-name">F#6</div>
            </div>
            <div id="G6" class="key white">
                <div class="key-name">G6</div>
            </div>
            <div id="G#6" class="key black">
                <div class="key-name">G#6</div>
            </div>
            <div id="A6" class="key white">
                <div class="key-name">A6</div>
            </div>
            <div id="A#6" class="key black">
                <div class="key-name">A#6</div>
            </div>
            <div id="B6" class="key white">
                <div class="key-name">B6</div>
            </div>
        </div>
    </div>

    <audio id="audio_file" src="{{ url_for('static', filename='output/{}.wav'.format(file_name)) }}"></audio>
    <div id="controls-container" class="controls-container">
        <div id="controls" class="controls">
            <button type="button" id="play_button" class="play_button">Play</button>
            <button type="button" id="stop_button" class="stop_button">Pause</button>
            <button type="button" id="reset_button" class="reset_button">Reset</button>
        </div>
    </div>

    <div id="output" class="output">
        <div id="output_img" class="output_img">
            <img src="{{ url_for('static',filename='output/{}_predictions.png'.format(file_name) ) }}">
        </div>

        <div id="download_media" class="download_media">
            <button type="button" id="download_audio" class="download_audio" onClick="window.location.href='{{ url_for('views.download_audio', file_name=file_name)}}';">
                Download audio file
            </button>
            <button type="button" id="download_img" class="download_img" onClick="window.location.href='{{ url_for('views.download_image', file_name=file_name)}}';">
                Download image
            </button>
        </div>
    </div>
</body>
</html>